<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cStore.shop"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".shoes"></activity>
        <activity android:name=".trouser" />
        <activity android:name=".jacket" />
        <activity android:name=".ties" />
        <activity android:name=".texido" />
        <activity android:name=".dresses" />
        <activity android:name=".verfication" />
        <activity android:name=".product" />
        <activity android:name=".shirt" />
        <activity android:name=".itemDisplay" />
        <activity android:name=".searchResultsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".notification_details" />
        <activity android:name=".accaountinfo" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:screenOrientation="portrait"
            android:usesCleartextTraffic="true"
            tools:ignore="LockedOrientationActivity"
            tools:targetApi="m">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".Notification" />
        <activity
            android:name=".Details"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Profile"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".FromCategory"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".StartScreenActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".WalkthroughActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Activity_list"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ProductDetailActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".CategoryActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Price"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".cart"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".my_upload"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Edit_profile"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".upload_file"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".SearchResult"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>